---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Card from "../components/card.astro";
import chagaImg from "../images/chaga.jpg";
import cordycepsImg from "../images/cordyceps.webp";
import lionsmaneImg from "../images/lionsmane.jpg";
import maitakeImg from "../images/maitake.jpg";
import reishiImg from "../images/reishi.webp";
import shiitakeImg from "../images/shiitake.jpg";
---

<Layout title="Grzybowy blog">
  <main>
    <div class="images-div">
      <Card src={chagaImg} title="Chaga" desc="Chaga, czyli Błyskoporek podkorowy, to grzyb antyoksydacyjny rosnący na drzewach. Zwalcza wolne rodniki, stres oksydacyjny, spowalnia starzenie i może hamować rozwój komórek rakowych oraz obniżać poziom złego cholesterolu (LDL). "/>
      <Card src={cordycepsImg} title="Cordyceps" desc="Cordyceps, czyli Maczużnik chiński, to grzyb z gór Chin i Tybetu. Znany z właściwości wzmacniających energię, układ odpornościowy, łagodzenia stresu, regulacji ciśnienia krwi i działania przeciwzapalnego." />
      <Card src={lionsmaneImg} title="Lion's Mane" desc="Lion's mane, Hericium, czy też Soplówka jeżowata, to wszystko nazwy grzyba leczniczego. W rzeczywistości jest wartościowy głównie dlatego, że wspiera produkcję białka czynnika wzrostu nerwów (NFG) i mieliny."/>
      <Card src={maitakeImg} title="Maitake" desc="Maitake, po polsku Żagwica listkowata, to tradycyjny grzyb pochodzący z Japonii. Grzyb Maitake, podobnie jak inne rodzaje grzybów witalnych, jest klasyfikowany jako adaptogen, ponieważ może pomóc w problemach psychicznych i fizycznych." />
      <Card src={reishiImg} title="Reishi" desc="Istnieje badanie, w którym 34 pacjentów z zaawansowanym rakiem leczono przez 12 tygodni polisacharydem pochodzącym z Reishi. Pacjenci, którzy byli leczeni, doświadczyli znacznej poprawy funkcjonowania  ich układu odpornościowego."/>
      <Card src={shiitakeImg} title="Shiitake" desc="Shiitake, znany również jako Twardziak jadalny, jest jednym z niewielu grzybów leczniczych, który również świetnie smakuje. Jednocześnie jest to jeden z najpopularniejszych i najlepiej przebadanych grzybów na świecie. Nazywany jest również eliksirem życia. " />
    </div>
  </main>
</Layout>

<style>
  .images-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25vh 25vh;
    padding: 0;
  }
</style>
